<html xmlns:th="http://www.thymeleaf.org">
<th:block fragment="styleFragment">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.7.0/css/select.dataTables.min.css" />

    <link rel="stylesheet" href="/css/reset.css?version=20240226">
    <link rel="stylesheet" href="/css/common.css?version=20240226">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css?version=20240226">
</th:block>
</html>