<html xmlns:th="http://www.thymeleaf.org">
<header>
    <div th:fragment="headerFragment">
        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header" style="background-color: rgb(0, 51, 26)">
            <a href="/" class="brand-logo">
                <img class="" src="/images/logo/healing_logo_cock_sm_rnd.png" alt="">
                <div>
                    <div class="brand-title">
                        <img class="" src="/images/logo/healing_logo_text.jpg" width="120" height="47" alt="">
                    </div>
                </div>
            </a>
            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header" style="background-color: rgb(0, 51, 26)">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
<!--                            티켓 사용 현황-->
<!--                            <div class="dashboard_bar">-->
<!--                            </div>-->
                        </div>
                        <ul class="navbar-nav header-right">
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
    </div>
</header>
</html>