<html xmlns:th="http://www.thymeleaf.org">
<th:block fragment="javascriptFragment">
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.js?version=20240226"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js?version=20240226"></script>

    <script src="/js/common.js?version=20240226"></script>
    <script src="/js/common_ibsheet7.js?version=20240226"></script>
    <script src="/js/comm.js?version=20240226"></script>
</th:block>
</html>