<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="loadingFragment">
    <!--*******************
        Preloader start
    ********************-->
    <div id="loading-area" class="loading-page-3">
        <div class="loading-inner">
            <div class="load-text">
                <span data-text="힐" class="text-load">힐</span>
                <span data-text="링" class="text-load">링</span>
                <span data-text="민" class="text-load">민</span>
                <span data-text="턴" class="text-load">턴</span>
                <span data-text="파" class="text-load">파</span>
                <span data-text="크" class="text-load">크</span>
            </div>
        </div>
    </div>
</div>
</html>
