<html xmlns:th="http://www.thymeleaf.org">
<nav>
    <div th:fragment="naviFragment">
    <div class="ic-sidenav">
        <div class="ic-sidenav-scroll">
            <ul class="metismenu" id="menu">
                <li>
                    <a href="/user/userList">
                        <i class="flaticon-user"></i>
                        <span class="nav-text" style="font-weight: 1000">회원관리</span>
                    </a>
                </li>
                <li>
                    <a href="/ticket/ticketRegHistList">
                        <i class="flaticon-notes"></i>
                        <span class="nav-text" style="font-weight: 1000">티켓등록 이력</span>
                    </a>
                </li>
                <li>
                    <a href="/ticket/ticketUseHistList">
                        <i class="flaticon-notes"></i>
                        <span class="nav-text" style="font-weight: 1000">티켓사용 이력</span>
                    </a>
                </li>
                <li>
                    <a href="/rent/rentList">
                        <i class="flaticon-notes"></i>
                        <span class="nav-text" style="font-weight: 1000">대관일정</span>
                    </a>
                </li>
                <li>
                    <a href="/tournament/tournamentList">
                        <i class="flaticon-notes"></i>
                        <span class="nav-text" style="font-weight: 1000">대회일정</span>
                    </a>
                </li>
                <li>
                    <a href="/baccara/baccara">
                        <i class="flaticon-notes"></i>
                        <span class="nav-text" style="font-weight: 1000">Baccara</span>
                    </a>
                </li>
                <li>
                    <a href="/baccara/baccaraCard">
                        <i class="flaticon-notes"></i>
                        <span class="nav-text" style="font-weight: 1000">BaccaraCard</span>
                    </a>
                </li>
                <li class="menu-title border-top-0 pt-2">시스템 관리</li>
                <li>
                    <a href="/ase/user/userList">
                        <i class="flaticon-user"></i>
                        <span class="nav-text" style="font-weight: 1000">사용자 관리</span>
                    </a>
                </li>
                <li>
                    <a href="/ase/menu/menuList">
                        <i class="flaticon-menu"></i>
                        <span class="nav-text" style="font-weight: 1000">메뉴 관리</span>
                    </a>
                </li>
                <li>
                    <a href="/ase/auth/authList">
                        <i class="flaticon-lock"></i>
                        <span class="nav-text" style="font-weight: 1000">권한 관리</span>
                    </a>
                </li>
                <li>
                    <a href="/ase/auth/authUserList">
                        <i class="flaticon-user-settings"></i>
                        <span class="nav-text" style="font-weight: 1000">사용자 권한 관리</span>
                    </a>
                </li>
<!--                <li>-->
<!--                    <a href="/tournament/tournamentMgmt">-->
<!--                        <i class="flaticon-notes"></i>-->
<!--                        <span class="nav-text" style="font-weight: 1000">대회일정관리</span>-->
<!--                    </a>-->
<!--                </li>-->
                <li>
                    <a href="/ase/auth/authMenuList">
                        <i class="flaticon-menu-settings"></i>
                        <span class="nav-text" style="font-weight: 1000">메뉴 권한 관리</span>
                    </a>
                </li>
                <li>
                    <a href="/place/placeList">
                        <i class="flaticon-menu-settings"></i>
                        <span class="nav-text" style="font-weight: 1000">장소 관리</span>
                    </a>
                </li>
                <li>
                    <a href="/placeReservation/placeReservationList">
                        <i class="flaticon-menu-settings"></i>
                        <span class="nav-text" style="font-weight: 1000">장소 예약 관리</span>
                    </a>
                </li>
                <li>
                    <a href="/resume/resumeList">
                        <i class="flaticon-menu-settings"></i>
                        <span class="nav-text" style="font-weight: 1000">이력서 관리 (비동기)</span>
                    </a>
                </li>
                <li>
                    <a href="/resume/resumeList_sync">
                        <i class="flaticon-menu-settings"></i>
                        <span class="nav-text" style="font-weight: 1000">이력서 관리 (동기)</span>
                    </a>
                </li>
<!--                <li>-->
<!--                    <a href="/resume/newResumeList">-->
<!--                        <i class="flaticon-menu-settings"></i>-->
<!--                        <span class="nav-text" style="font-weight: 1000">이력서 관리 (신규)</span>-->
<!--                    </a>-->
<!--                </li>-->
            </ul>
        </div>
    </div>
</div>
</nav>
</html>