<html xmlns:th="http://www.thymeleaf.org">
<nav>
    <div th:fragment="naviFragment">
    <div class="ic-sidenav">
        <div class="ic-sidenav-scroll">
            <ul class="metismenu" id="menu">
                <li>
                    <a href="/user/userList">
                        <i class="flaticon-user"></i>
                        <span class="nav-text" style="font-weight: 1000">회원관리</span>
                    </a>
                </li>
                <li>
                    <a href="/ticket/ticketRegHistList">
                        <i class="flaticon-notes"></i>
                        <span class="nav-text" style="font-weight: 1000">티켓등록 이력</span>
                    </a>
                </li>
                <li>
                    <a href="/ticket/ticketUseHistList">
                        <i class="flaticon-notes"></i>
                        <span class="nav-text" style="font-weight: 1000">티켓사용 이력</span>
                    </a>
                </li>
                <li>
                    <a href="/sample/cal">
                        <i class="flaticon-notes"></i>
                        <span class="nav-text" style="font-weight: 1000">CALENDAR</span>
                    </a>
                </li>
            </ul>
<!--            <div class="copyright">-->
<!--                <p><strong>힐링 민턴 파크</strong> © <span class="current-year">2024</span> All Rights Reserved</p>-->
<!--                <p class="fs-12">Made with <span class="heart"></span> by CoreLabs</p>-->
<!--            </div>-->
        </div>
    </div>
</div>
</nav>
</html>