<html xmlns:th="http://www.thymeleaf.org">
<nav>
    <div th:fragment="naviFragment">
    <div class="ic-sidenav">
        <div class="ic-sidenav-scroll">
            <ul class="metismenu" id="menu">
                <li>
                    <a href="/user/userList">
                        <i class="flaticon-user"></i>
                        <span class="nav-text" style="font-weight: 1000">회원관리</span>
                    </a>
                </li>
                <li>
                    <a href="/ticket/ticketRegHistList">
                        <i class="flaticon-notes"></i>
                        <span class="nav-text" style="font-weight: 1000">티켓등록 이력</span>
                    </a>
                </li>
                <li>
                    <a href="/ticket/ticketUseHistList">
                        <i class="flaticon-notes"></i>
                        <span class="nav-text" style="font-weight: 1000">티켓사용 이력</span>
                    </a>
                </li>
                <li>
                    <a href="/rent/rentList">
                        <i class="flaticon-notes"></i>
                        <span class="nav-text" style="font-weight: 1000">대관일정</span>
                    </a>
                </li>
                <li>
                    <a href="/tournament/tournamentList">
                        <i class="flaticon-notes"></i>
                        <span class="nav-text" style="font-weight: 1000">대회일정</span>
                    </a>
                </li>
<!--                <li>-->
<!--                    <a href="/tournament/tournamentMgmt">-->
<!--                        <i class="flaticon-notes"></i>-->
<!--                        <span class="nav-text" style="font-weight: 1000">대회일정관리</span>-->
<!--                    </a>-->
<!--                </li>-->
            </ul>
        </div>
    </div>
</div>
</nav>
</html>