<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">

<div layout:fragment="content">
	<body>
		<link href="/css/fullcalendar/main.min.css" rel="stylesheet">
		<link href="/vendor/bootstrap-datepicker-master/css/bootstrap-datepicker.min.css" rel="stylesheet">
		<style>
			/* calendar.html */

			.fc-col-header-cell-cushion, .fc-daygrid-day-number {
				text-decoration: none;
			}

			.fc-event-main-frame .fc-event-time{
				width: 0;
			}

			.fc-direction-ltr .fc-daygrid-event .fc-event-time{
				margin: 0;
			}

			.fc-scrollgrid-sync-inner > .fc-col-header-cell-cushion,
			.fc-day-mon .fc-daygrid-day-number,
			.fc-day-tue .fc-daygrid-day-number,
			.fc-day-wed .fc-daygrid-day-number,
			.fc-day-thu .fc-daygrid-day-number,
			.fc-day-fri .fc-daygrid-day-number {
				color: black;
			}

			.fc-day-sun .fc-col-header-cell-cushion,
			.fc-day-sun a{
				color : red;
			}

			.fc-day-sat .fc-col-header-cell-cushion,
			.fc-day-sat a {
				color : blue;
			}

			.holiday-text {
				margin-top: -5px;
				color: red;
				font-weight: bold;
				font-size: 14px;
			}

			#imageViewer {
				width: 100%;
				max-width: 1200px;
				border: 1px solid #000;
				margin-top: 20px;
			}
		</style>

		<!--**********************************
			Content body start
		***********************************-->
		<div class="content-body">
			<div class="container-fluid">
				<div class="row" style="height: 100%">
						<div class="card">
							<div class="card-body">
								<div id="calendar" class="app-fullcalendar"></div>
							</div>
						</div>
				</div>
			</div>
		</div>

		<div class="modal fade none-border" id="imgPopup" style="--bs-modal-width: 800px" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<img id="imageViewer" src="" alt="이미지를 선택하세요">
				</div>
			</div>
		</div>

		<script src="/js/fullcalendar/main.min.js"></script>
		<script src="/vendor/bootstrap-datepicker-master/js/bootstrap-datepicker.min.js"></script>
		<script src="/vendor/bootstrap-datepicker-master/js/bootstrap-datepicker.ko.min.js"></script>

		<script th:inline="javascript">
			"use strict";
			let CALENDAR = {};
			let CALENDAR_YEAR = [];

			$(document).ready(function() {
				init();
			});

			function init() {
				setCal()
					.then(function() {
					setTimeout(function() {
						window.dispatchEvent(new Event('resize'));
					}, 700);
				}).then(function() {
					selectTournamentList();
				});
			};

			const selectTournamentList = async () => {
				JS_COMMON.callAjaxJson('/tournament/selectTournamentList', {}, 'POST', cb_selectTournamentList);
			}

			const cb_selectTournamentList = ( result ) => {
				if ( result.code !== 200 ) {
					alert(result.successMsg);
					return;
				}

				if ( JS_COMMON.isEmpty( result.data ) )
					return;

				const dataList = result.data;
				let eventList = [];
				for (const data of dataList) {
					eventList.push({
						id: data.tournamentUid,
						title: data.tournamentTitle,
						start: data.tournamentStDt,
						end: JS_COMMON.addOneDay( data.tournamentEnDt ),
						oriFileNm: data.oriFileNm,
						newFileNm: data.newFileNm,
						fullFileNm: data.fullFileNm,
						allDay: true
					});
				}
				CALENDAR.addEventSource( eventList );
			}

			const setCal = async message => {
				let Calendar = FullCalendar.Calendar;
				let calendarEl = document.getElementById('calendar');
				const windowWidth = $(window).width();
				const windowHeight = $(window).height() - 185;

				CALENDAR_YEAR.push(new Date().getFullYear());
				const holidays = await fetchHolidays( new Date().getFullYear() );
				CALENDAR = new Calendar(calendarEl, {
					headerToolbar: {
						left: '',
						center: 'title',
						right: 'prev,next today'
					},
					height: windowHeight,
					navLinks: false,
					editable: false,
					droppable: false,
					dayMaxEvents: true,
					dayMaxEventRows: true, // for all non-TimeGrid views
					views: {
						timeGrid: {
							dayMaxEventRows: 6 // adjust to 6 only for timeGridWeek/timeGridDay
						}
					},
					selectable: true,
					eventSources: [{ events: holidays }],
					select: function(info) {
					},
					eventClick: function(info) {
						if (JS_COMMON.isEmpty(info.event._def.extendedProps.newFileNm))
							return;

						const url = '/tournament/pdf?filename=' + info.event._def.extendedProps.newFileNm; // PDF 파일 경로
						$('#imageViewer').attr('src', url);
						$('#imgPopup').modal('toggle');
					},

					datesSet: async function (info) {
						if (!JS_COMMON.containsValue(CALENDAR_YEAR, info.start.getFullYear())) {
							CALENDAR_YEAR.push(info.start.getFullYear());
							CALENDAR.addEventSource( await fetchHolidays( info.start.getFullYear() ) );
						}
						if (!JS_COMMON.containsValue(CALENDAR_YEAR, info.end.getFullYear())) {
							CALENDAR_YEAR.push(info.end.getFullYear());
							CALENDAR.addEventSource( await fetchHolidays( info.end.getFullYear() ) );
						}
					}
				});

				CALENDAR.setOption('locale', 'kr');
				CALENDAR.render();
			}

			const fetchHolidays = async ( year ) => {
				const serviceKey = 'az%2FkOFsGYu1cP7P9vRQv%2BbcZt%2FfGShNWfMzSlwdnQpo52Ohb21lYAAnnD3Z2kyrewGLmGfw3NrYCn59FzxpSVQ%3D%3D'; // 공공데이터포털에서 발급받은 서비스 키
				// const year = new Date().getFullYear();
				const url = `http://apis.data.go.kr/B090041/openapi/service/SpcdeInfoService/getRestDeInfo?ServiceKey=${serviceKey}&numOfRows=100&solYear=${year}&_type=json`;

				const response = await fetch(url);
				const data = await response.json();
				const holidays = data.response.body.items.item;

				const seenIds = new Map();
				holidays.forEach(item => {
					if (seenIds.has(item.locdate.toString())) {
						const firstItem = seenIds.get(item.locdate.toString());
						firstItem.dateName += `, ${item.dateName}`;
					} else {
						seenIds.set(item.locdate.toString(), item);
					}
				});

				return Array.from(seenIds.values()).map(holiday => ({
					title: holiday.dateName,
					start: holiday.locdate.toString(),
					allDay: true,
					color: 'white',
					textColor: 'red',
					display: 'background',
					classNames: ['holiday-text']
				}));
			};
		</script>

	</body>
</div>
</html>