<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">

<div layout:fragment="content">
<body>
	<!--**********************************
		Content body start
	***********************************-->
	<div class="content-body">
		<!-- row -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="filter cm-content-box box-primary">
						<div class="card-body" style="padding: 1rem">
							<div class="row">
								<div class="col-9">
									<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="이름">
								</div>
								<div class="col-3">
									<button class="form-control btn btn-primary" title="Click here to Search" type="button">검색</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xl-12 col-xxl-12 col-lg-12">
					<div class="card border-0 pb-0">
						<div class="card-body p-0">
							<div id="DZ_W_Todo1" class="widget-media ic-scroll p-3 ">
								<ul class="timeline">
									<li>
										<div class="timeline-panel text-center">
											<h4>조회 결과가 없습니다.</h4>
										</div>
									</li>
									<li>
										<div class="timeline-panel">
											<div class="media me-2 media-primary light" style="width: 5rem; font-size: 1rem;"> 홍길동</div>
											<div class="media-body">
												<h5 class="mb-1"><small class="text-muted">(사람설명) <span style="float:right">last : 2024. 12. 17</span></small></h5>
												<h5 class="mb-1">잔여 : 8회
													<a href="#" class="btn btn-primary btn-xxs shadow" style="float:right">사용</a>
													<a href="#" class="btn btn-primary light btn-xxs me-3" style="float:right">재등록</a>
												</h5>
											</div>
										</div>
									</li>
									<li>
										<div class="timeline-panel">
											<div class="media me-2 media-primary light" style="width: 5rem; font-size: 1rem;"> 홍길동</div>
											<div class="media-body">
												<h5 class="mb-1"><small class="text-muted">(사람설명) <span style="float:right">last : 2024. 12. 17</span></small></h5>
												<h5 class="mb-1">잔여 : 8회
													<a href="#" class="btn btn-primary btn-xxs shadow" style="float:right">사용</a>
													<a href="#" class="btn btn-primary light btn-xxs me-3" style="float:right">재등록</a>
												</h5>
											</div>
										</div>
									</li>
									<li>
										<div class="timeline-panel">
											<div class="media me-2 media-primary light" style="width: 5rem; font-size: 1rem;"> 홍길동</div>
											<div class="media-body">
												<h5 class="mb-1"><small class="text-muted">(사람설명) <span style="float:right">last : 2024. 12. 17</span></small></h5>
												<h5 class="mb-1">잔여 : 8회
													<a href="#" class="btn btn-primary btn-xxs shadow" style="float:right">사용</a>
													<a href="#" class="btn btn-primary light btn-xxs me-3" style="float:right">재등록</a>
												</h5>
											</div>
										</div>
									</li>
									<li>
										<div class="timeline-panel">
											<div class="media me-2 media-primary light" style="width: 5rem; font-size: 1rem;"> 홍길동</div>
											<div class="media-body">
												<h5 class="mb-1"><small class="text-muted">(사람설명) <span style="float:right">last : 2024. 12. 17</span></small></h5>
												<h5 class="mb-1">잔여 : 8회
													<a href="#" class="btn btn-primary btn-xxs shadow" style="float:right">사용</a>
													<a href="#" class="btn btn-primary light btn-xxs me-3" style="float:right">재등록</a>
												</h5>
											</div>
										</div>
									</li>
									<li>
										<div class="timeline-panel">
											<div class="media me-2 media-primary light" style="width: 5rem; font-size: 1rem;"> 홍길동</div>
											<div class="media-body">
												<h5 class="mb-1"><small class="text-muted">(사람설명) <span style="float:right">last : 2024. 12. 17</span></small></h5>
												<h5 class="mb-1">잔여 : 8회
													<a href="#" class="btn btn-primary btn-xxs shadow" style="float:right">사용</a>
													<a href="#" class="btn btn-primary light btn-xxs me-3" style="float:right">재등록</a>
												</h5>
											</div>
										</div>
									</li>
									<li>
										<div class="timeline-panel">
											<div class="media me-2 media-primary light">
												2
											</div>
											<div class="media-body">
												<h5 class="mb-1">김개똥 <small class="text-muted">(사람설명) <span style="float:right">last : 2024. 12. 07</span></small></h5>
												<h5 class="mb-1">잔여 : 2회
													<a href="#" class="btn btn-primary btn-xxs shadow" style="float:right">사용</a>
													<a href="#" class="btn btn-primary light btn-xxs me-3" style="float:right">재등록</a>
												</h5>
											</div>
										</div>
									</li>
									<li>
										<div class="timeline-panel">
											<div class="media me-2 media-primary light">
												3
											</div>
											<div class="media-body">
												<h5 class="mb-1">황아치 <small class="text-muted">(사람설명) <span style="float:right">last : 2024. 11. 12</span></small></h5>
												<h5 class="mb-1">잔여 : 6회
													<a href="#" class="btn btn-primary btn-xxs shadow" style="float:right">사용</a>
													<a href="#" class="btn btn-primary light btn-xxs me-3" style="float:right">재등록</a>
												</h5>
											</div>
										</div>
									</li>
									<li>
										<div class="timeline-panel">
											<div class="media me-2 media-primary light">
												4
											</div>
											<div class="media-body">
												<h5 class="mb-1">아무개 <small class="text-muted">(큰아무개) <span style="float:right">last : 2024. 07. 22</span></small></h5>
												<h5 class="mb-1">잔여 : 12회
													<a href="#" class="btn btn-primary btn-xxs shadow" style="float:right">사용</a>
													<a href="#" class="btn btn-primary light btn-xxs me-3" style="float:right">재등록</a>
												</h5>
											</div>
										</div>
									</li>
									<li>
										<div class="timeline-panel">
											<div class="media me-2 media-primary light">
												5
											</div>
											<div class="media-body">
												<h5 class="mb-1">아무개 <small class="text-muted">(작은아무개) <span style="float:right">last : 2024. 12. 03</span></small></h5>
												<h5 class="mb-1">잔여 : 1회
													<a href="#" class="btn btn-primary btn-xxs shadow" style="float:right">사용</a>
													<a href="#" class="btn btn-primary light btn-xxs me-3" style="float:right">재등록</a>
												</h5>
											</div>
										</div>
									</li>
									<li>
										<div class="timeline-panel">
											<div class="media me-2 media-primary light">6</div>
											<div class="media-body">
												<h5 class="mb-1">김유신 <small class="text-muted">(장군) <span style="float:right">last : 2024. 11. 30</span></small></h5>
												<h5 class="mb-1">잔여 : 4회
													<a href="#" class="btn btn-primary btn-xxs shadow" style="float:right">사용</a>
													<a href="#" class="btn btn-primary light btn-xxs me-3" style="float:right">재등록</a>
												</h5>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-xl-12 col-xxl-12 col-lg-12">
					<div class="card border-0 pb-0">
						<div class="card-header border-0 pb-0">
							<h4 class="card-title">최근 한달 오늘요일 참석자</h4>
						</div>
						<div class="card-body p-0">
							<div id="DZ_W_Todo2" class="widget-media ic-scroll p-3 ">
								<ul class="timeline">
									<li>
										<div class="timeline-panel">
											<div class="media me-2 media-primary light" style="width: 5rem; font-size: 1rem;"> 홍길동</div>
											<div class="media-body">
												<h5 class="mb-1"><small class="text-muted">(사람설명) <span style="float:right">last : 2024. 12. 17</span></small></h5>
												<h5 class="mb-1">잔여 : 8회
													<a href="#" class="btn btn-primary btn-xxs shadow" style="float:right">사용</a>
													<a href="#" class="btn btn-primary light btn-xxs me-3" style="float:right">재등록</a>
												</h5>
											</div>
										</div>
									</li>
									<li>
										<div class="timeline-panel">
											<div class="media me-2 media-primary light" style="width: 5rem; font-size: 1rem;"> 홍길동</div>
											<div class="media-body">
												<h5 class="mb-1"><small class="text-muted">(사람설명) <span style="float:right">last : 2024. 12. 17</span></small></h5>
												<h5 class="mb-1">잔여 : 8회
													<a href="#" class="btn btn-primary btn-xxs shadow" style="float:right">사용</a>
													<a href="#" class="btn btn-primary light btn-xxs me-3" style="float:right">재등록</a>
												</h5>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!--**********************************
		Content body end
	***********************************-->


	<!--**********************************
	   Support ticket button start
	***********************************-->

	<!--**********************************
	   Support ticket button end
	***********************************-->

	<script>
	</script>

</body>
</div>
</html>