<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.corelabs.ase.mapper.AseMapper">
    <delete id="deleteUser">
        DELETE FROM tb_user WHERE user_uid = #{userUid}
    </delete>

    <delete id="deleteUserAuth">
        DELETE FROM tb_user_auth WHERE user_uid = #{userUid}
    </delete>

    <select id="selectUserList" parameterType="aseVO" resultType="aseVO">
        SELECT USER.USER_UID,
        USER_NM,
        getPhoneToFormat(USER_PHONE) AS USER_PHONE,
        USER_LOC,
        USER_RANK,
        getSexToFormat(USER_SEX) AS USER_SEX,
        CONCAT(IFNULL(USER_BIRTH, ''), '(', getBirthToAge(USER_BIRTH), ')') AS USER_BIRTH,
        USER_DESC_SHORT,
        USER_DESC,
        CREATE_USER_ID,
        CREATE_DT,
        UPDATE_USER_ID,
        UPDATE_DT
        FROM tb_user USER
        <where>
            <if test="userNm != null and userNm != ''">
                AND USER_NM LIKE CONCAT('%', #{userNm}, '%')
            </if>
        </where>
    </select>

    <insert id="insertUser" parameterType="aseVO">
        /* AseMapper.insertUser */
        INSERT INTO tb_user (
        USER_UID
        , USER_NM
        , USER_PHONE
        , USER_LOC
        , USER_RANK
        , USER_SEX
        , USER_BIRTH
        , USER_DESC_SHORT
        , USER_DESC
        , CREATE_USER_ID
        , CREATE_DT
        , UPDATE_USER_ID
        , UPDATE_DT
        ) VALUES (
        UUID()
        , #{userNm}
        , #{userPhone}
        , #{userLoc}
        , #{userRank}
        , #{userSex}
        , YEAR(STR_TO_DATE(#{userBirth}, '%Y-%m-%d'))
        , #{userDescShort}
        , #{userDesc}
        , #{createUserId}
        , NOW()
        , #{updateUserId}
        , NOW()
        )
    </insert>

    <select id="checkUserExists" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM tb_user
            WHERE user_uid = #{userUid}
        )
    </select>

    <update id="updateUser" parameterType="aseVO">
        /* AseMapper.updateUser */
        UPDATE tb_user
        SET USER_NM = #{userNm},
            USER_PHONE = #{userPhone},
            USER_LOC = #{userLoc},
            USER_RANK = #{userRank},
            USER_SEX = #{userSex},
            USER_BIRTH = #{userBirth},
            USER_DESC_SHORT = #{userDescShort},
            USER_DESC = #{userDesc},
            UPDATE_USER_ID = #{updateUserId},
            UPDATE_DT = NOW()
        WHERE USER_UID = #{userUid}
    </update>


    <select id="selectMenuList" resultType="aseVO">
        SELECT menu_id AS menuId, menu_name AS menuName, parent_menu_id AS parentMenuId
        FROM tb_menu
        WHERE menu_name LIKE CONCAT('%', #{menuName}, '%')
    </select>

    <select id="checkMenuExists" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM tb_menu
            WHERE menu_id = #{menuId}
        )
    </select>

    <insert id="insertMenu" parameterType="aseVO">
        INSERT INTO tb_menu (menu_id, menu_name, menu_desc, created_at)
        VALUES (#{menuId}, #{menuName}, #{menuDesc}, NOW())
    </insert>

    <update id="updateMenu" parameterType="aseVO">
        UPDATE tb_menu
        SET menu_name = #{menuName},
            menu_desc = #{menuDesc},
            updated_at = NOW()
        WHERE menu_id = #{menuId}
    </update>



    <select id="selectAuthList" parameterType="aseVO" resultType="aseVO">
        SELECT *
        FROM tb_auth
        WHERE auth_name LIKE CONCAT('%', #{authName}, '%')
    </select>

    <select id="checkAuthExists" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM tb_auth
            WHERE auth_id = #{authId}
        )
    </select>

    <insert id="insertAuth" parameterType="aseVO">
        INSERT INTO tb_auth (auth_id, auth_name, description, created_at)
        VALUES (#{authId}, #{authName}, #{description}, NOW())
    </insert>

    <update id="updateAuth" parameterType="aseVO">
        UPDATE tb_auth
        SET auth_name = #{authName},
            description = #{description},
            updated_at = NOW()
        WHERE auth_id = #{authId}
    </update>



    <select id="checkUserAuthExists" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM tb_user_auth
            WHERE user_uid = #{userUid} AND auth_id = #{authId}
        )
    </select>

    <insert id="insertUserAuth" parameterType="aseVO">
        INSERT INTO tb_user_auth (user_uid, auth_id, created_at)
        VALUES (#{userUid}, #{authId}, NOW())
    </insert>

    <update id="updateUserAuth" parameterType="aseVO">
        UPDATE tb_user_auth
        SET updated_at = NOW()
        WHERE user_uid = #{userUid} AND auth_id = #{authId}
    </update>

    <select id="selectUserAuthList" resultType="aseVO">
        SELECT auth_id, auth_nm, auth_description
        FROM tb_user_auth
        WHERE user_uid = #{userUid}
    </select>



    <select id="checkMenuAuthExists" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM tb_menu_auth
            WHERE menu_id = #{menuId} AND auth_id = #{authId}
        )
    </select>

    <insert id="insertMenuAuth" parameterType="aseVO">
        INSERT INTO tb_menu_auth (menu_id, auth_id, created_at)
        VALUES (#{menuId}, #{authId}, NOW())
    </insert>

    <update id="updateMenuAuth" parameterType="aseVO">
        UPDATE tb_menu_auth
        SET updated_at = NOW()
        WHERE menu_id = #{menuId} AND auth_id = #{authId}
    </update>

    <select id="selectMenuAuthList" resultType="aseVO">
        SELECT auth_id, auth_nm, auth_description
        FROM tb_menu_auth
        WHERE menu_id = #{menuId}
    </select>

    <select id="selectUserByUid" resultType="com.corelabs.ase.vo.AseVO">
        SELECT user_uid, user_nm, user_phone, user_loc, user_rank, user_sex, user_birth, user_desc
        FROM tb_user WHERE user_uid = #{userUid}


    </select>

</mapper>