<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.corelabs.profile.mapper.ProfileMapper">

    <select id="selectProfileList" resultType="profileVO">
        SELECT
            PROFILE_ID,
            TITLE,
            CREATED_USER,
            NAME,
            BIRTH,
            GENDER,
            POSITION,
            MILITARY,
            MARRIAGE,
            EMAIL,
            LANDLINE,
            PHONE,
            ADDRESS,
            PHOTO_PATH,
            CREATED_AT,
            UPDATED_AT
        FROM profile
    </select>

    <insert id="insertProfile">
        INSERT INTO profile (
            PROFILE_ID,
            TITLE,
            CREATED_USER,
            NAME,
            BIRTH,
            GENDER,
            POSITION,
            MILITARY,
            MARRIAGE,
            EMAIL,
            LANDLINE,
            PHONE,
            ADDRESS,
            PHOTO_PATH,
            CREATED_AT,
            UPDATED_AT
            )
        VALUES (
            #{profileId},
            #{title},
            #{createdUser},
            #{name},
            NULLIF(#{birth}, ''),
            #{gender},
            #{position},
            #{military},
            #{marriage},
            #{email},
            #{landline},
            #{phone},
            #{address},
            #{photoPath},
            NOW(),
            NULL
            )
    </insert>

    <insert id="insertAttachment">
        INSERT INTO profile_file (
            PROFILE_ID,
            ORIGINAL_NAME,
            SAVE_NAME,
            FILE_PATH,
            FILE_SIZE,
            CREATED_AT
            )
        VALUES (
            #{profileId},
            #{originalName},
            #{saveName},
            #{filePath},
            #{fileSize},
            NOW()
            )
    </insert>
</mapper>