<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.corelabs.profile.mapper.ProfileMapper">

    <select id="selectResumeList" resultType="profileVO">
        SELECT
            RESUME_ID,
            TITLE,
            CREATED_USER,
            NAME, BIRTH,
            GENDER, MILITARY,
            ROLE,
            MARRIAGE,
            LANDLINE_NUMBER,
            PHONE_NUMBER,
            EMAIL,
            ADDRESS,
            PHOTO_PATH,
            CREATED_AT,
            UPDATED_AT
        FROM profile
    </select>

    <insert id="insertProfile">
        INSERT INTO profile (
            PROFILE_ID,
            TITLE,
            CREATED_USER,
            NAME,
            BIRTH,
            GENDER,
            POSITION,
            MILITARY,
            MARRIAGE,
            EMAIL,
            LANDLINE_NUMBER,
            PHONE_NUMBER,
            ADDRESS,
            PHOTO_PATH,
            CREATED_AT,
            UPDATED_AT
            )
        VALUES (
            #{profileId},
            #{title},
            #{createdUser},
            #{name},
            #{birth},
            #{gender},
            #{position},
            #{military},
            #{marriage},
            #{email},
            #{landline},
            #{phone},
            #{address},
            #{photoPath},
            NOW(),
            NULL
            )
    </insert>
</mapper>