<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.corelabs.resume.mapper.ResumeMapper">

    <select id="selectResumeList" resultType="map">
        SELECT
            r.resume_id AS resumeId,
            r.name,
            r.gender,
            IFNULL(CONCAT(TIMESTAMPDIFF(YEAR, r.birth, CURDATE()) + 1, '세'), '데이터 없음') AS age,
            IFNULL(r.military, '데이터 없음') AS military,
            IFNULL(r.marriage, '데이터 없음') AS marriage,
            IFNULL(r.address, '데이터 없음') AS address,
            IFNULL(e.final_edu, '데이터 없음') AS finalEdu,
            IFNULL(l.license_summary, '데이터 없음') AS licenseSummary,
            IFNULL(CONCAT(FLOOR(total_months / 12),'년 ', MOD(total_months, 12), '개월'), '신입') AS formattedPeriod,
            IFNULL(s.top_skill, '데이터 없음') AS topSkill,
            DATE_FORMAT(IFNULL(r.updated_time, r.created_time), '%Y-%m-%d') AS lastUpdatedTime
        FROM resume r
        LEFT JOIN (
            SELECT resume_id,
                   CONCAT(school_name, '(', school_status, ')') AS final_edu
            FROM (
                SELECT resume_id,
                       school_name,
                       school_status,
                       ROW_NUMBER() OVER(PARTITION BY resume_id ORDER BY school_date DESC) as rn
                FROM resume_education
                ) t
            WHERE rn = 1
        ) e ON r.resume_id = e.resume_id
        LEFT JOIN (
            SELECT
                resume_id,
                CONCAT(
                    SUBSTR(
                        MAX(CASE WHEN license_name LIKE '%기사%' THEN CONCAT('3', license_name)
                        WHEN license_name LIKE '%SQL%' THEN CONCAT('2', license_name)
                        ELSE CONCAT('1', license_name) END)
                    , 2),
                    IF(COUNT(*) > 1, CONCAT(' 외 ', COUNT(*) - 1, '종'), '')
                ) AS license_summary
            FROM resume_license
            GROUP BY resume_id
        ) l ON r.resume_id = l.resume_id
        LEFT JOIN (
            SELECT resume_id,
                   SUM(TIMESTAMPDIFF(MONTH, company_start_term, IFNULL(company_end_term, CURDATE()))) AS total_months
            FROM resume_career
            GROUP BY resume_id
        ) c ON r.resume_id = c.resume_id
        LEFT JOIN (
            SELECT resume_id,
                   project_language AS top_skill
            FROM (
                     SELECT resume_id,
                            project_language,
                            ROW_NUMBER() OVER(PARTITION BY resume_id ORDER BY COUNT(*) DESC, project_language) as rn
                     FROM resume_skill
                     GROUP BY resume_id, project_language
                 ) t WHERE rn = 1
        ) s ON r.resume_id = s.resume_id
        <where>
            <choose>
                <when test="resumeIds != null and resumeIds.size() > 0">
                    AND r.resume_id IN
                    <foreach item="resumeId" collection="resumeIds" open="(" separator="," close=")">
                        #{resumeId}
                    </foreach>
                </when>

                <otherwise>
                    AND 1 = 0
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="selectResumeIdList" resultType="string">
        SELECT r.resume_id
        FROM resume r
        LEFT JOIN resume_education e ON r.resume_id = e.resume_id
        LEFT JOIN resume_career c ON r.resume_id = c.resume_id
        LEFT JOIN resume_license l ON r.resume_id = l.resume_id
        LEFT JOIN resume_skill s ON r.resume_id = s.resume_id
        <where>
            <if test="name != null and name != ''">
                AND r.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="gender != null and gender != ''">
                AND r.gender LIKE CONCAT('%', #{gender}, '%')
            </if>
            <if test="birth != null and birth != ''">
                AND r.birth LIKE CONCAT('%', #{birth}, '%')
            </if>
            <if test="role != null and role != ''">
                AND r.role LIKE CONCAT('%', #{role}, '%')
            </if>
            <if test="military != null and military != ''">
                AND r.military LIKE CONCAT('%', #{military}, '%')
            </if>
            <if test="marriage != null and marriage != ''">
                AND r.marriage LIKE CONCAT('%', #{marriage}, '%')
            </if>
            <if test="landlineNumber != null and landlineNumber != ''">
                AND r.landline_number LIKE CONCAT('%', #{landlineNumber}, '%')
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                AND r.phone_number LIKE CONCAT('%', #{phoneNumber}, '%')
            </if>
            <if test="email != null and email != ''">
                AND r.email LIKE CONCAT('%', #{email}, '%')
            </if>
            <if test="address != null and address != ''">
                AND r.address LIKE CONCAT('%', #{address}, '%')
            </if>
            <if test="schoolName != null and schoolName != ''">
                AND e.school_name LIKE CONCAT('%', #{schoolName}, '%')
            </if>
            <if test="schoolStatus != null and schoolStatus != ''">
                AND e.school_status LIKE CONCAT('%', #{schoolStatus}, '%')
            </if>
            <if test="schoolDate != null and schoolDate != ''">
                AND e.school_date LIKE CONCAT('%', #{schoolDate}, '%')
            </if>
            <if test="licenseName != null and licenseName != ''">
                AND l.license_name LIKE CONCAT('%', #{licenseName}, '%')
            </if>
            <if test="licenseIssuer != null and licenseIssuer != ''">
                AND l.license_issuer LIKE CONCAT('%', #{licenseIssuer}, '%')
            </if>
            <if test="licenseDate != null and licenseDate != ''">
                AND l.license_date LIKE CONCAT('%', #{licenseDate}, '%')
            </if>
            <if test="companyName != null and companyName != ''">
                AND c.company_name LIKE CONCAT('%', #{companyName}, '%')
            </if>
            <if test="companyRole != null and companyRole != ''">
                AND c.company_role LIKE CONCAT('%', #{companyRole}, '%')
            </if>
            <if test="companyWork != null and companyWork != ''">
                AND c.company_work LIKE CONCAT('%', #{companyWork}, '%')
            </if>
            <if test="companyStartTerm != null and companyStartTerm != ''">
                AND c.company_start_term LIKE CONCAT('%', #{companyStartTerm}, '%')
            </if>
            <if test="companyEndTerm != null and companyEndTerm != ''">
                AND c.company_end_term LIKE CONCAT('%', #{companyEndTerm}, '%')
            </if>
            <if test="projectName != null and projectName != ''">
                AND s.project_name LIKE CONCAT('%', #{projectName}, '%')
            </if>
            <if test="projectCustomer != null and projectCustomer != ''">
                AND s.project_customer LIKE CONCAT('%', #{projectCustomer}, '%')
            </if>
            <if test="projectCompany != null and projectCompany != ''">
                AND s.project_company LIKE CONCAT('%', #{projectCompany}, '%')
            </if>
            <if test="projectWork != null and projectWork != ''">
                AND s.project_work LIKE CONCAT('%', #{projectWork}, '%')
            </if>
            <if test="projectLanguage != null and projectLanguage != ''">
                AND s.project_language LIKE CONCAT('%', #{projectLanguage}, '%')
            </if>
            <if test="projectDb != null and projectDb != ''">
                AND s.project_db LIKE CONCAT('%', #{projectDb}, '%')
            </if>
            <if test="projectTool != null and projectTool != ''">
                AND s.project_tool LIKE CONCAT('%', #{projectTool}, '%')
            </if>
            <if test="projectFramework != null and projectFramework != ''">
                AND s.project_framework LIKE CONCAT('%', #{projectFramework}, '%')
            </if>
            <if test="projectStartTerm != null and projectStartTerm != ''">
                AND s.project_start_term LIKE CONCAT('%', #{projectStartTerm}, '%')
            </if>
            <if test="projectEndTerm != null and projectEndTerm != ''">
                AND s.project_end_term LIKE CONCAT('%', #{projectEndTerm}, '%')
            </if>
            <if test="projectEtc != null and projectEtc != ''">
                AND s.project_etc LIKE CONCAT('%', #{projectEtc}, '%')
            </if>
            <if test="projectWorkDetail != null and projectWorkDetail != ''">
                AND s.project_work_detail LIKE CONCAT('%', #{projectWorkDetail}, '%')
            </if>
        </where>
        GROUP BY r.resume_id
    </select>

    <insert id="insertResume" parameterType="resumeVO">
        INSERT INTO resume
        (resume_id, title, created_user, created_time, updated_time, name, birth, gender, military, role, marriage, landline_number, phone_number, email, address)
        VALUES(#{resumeId}, #{title}, #{createdUser}, NOW(), NULL, #{name}, #{birth}, #{gender}, #{military}, #{role}, #{marriage}, #{landlineNumber}, #{phoneNumber}, #{email}, #{address})
    </insert>

    <insert id="insertEducation" parameterType="resumeEducationVO">
        INSERT INTO resume_education
        (school_name, school_status, school_date, created_time, resume_id)
        VALUES
        (#{schoolName}, #{schoolStatus}, #{schoolDate}, NOW(), #{resumeId})
    </insert>

    <insert id="insertCareer" parameterType="resumeCareerVO">
        INSERT INTO resume_career
        (company_name, company_role, company_work, company_start_term, company_end_term, created_time, resume_id)
        VALUES(#{companyName}, #{companyRole}, #{companyWork}, #{companyStartTerm}, #{companyEndTerm}, NOW(), #{resumeId});
    </insert>

    <insert id="insertLicense" parameterType="resumeLicenseVO">
        INSERT INTO resume_license
        (license_name, license_issuer, license_date, created_time, resume_id)
        VALUES(#{licenseName}, #{licenseIssuer}, #{licenseDate}, NOW(), #{resumeId});
    </insert>

    <insert id="insertSkill" parameterType="resumeSkillVO">
        INSERT INTO resume_skill
        (project_name, project_customer, project_company, project_work, project_language, project_db, project_tool, project_framework, project_start_term, project_end_term, project_work_detail, project_etc, created_time, resume_id)
        VALUES(#{projectName}, #{projectCustomer}, #{projectCompany}, #{projectWork}, #{projectLanguage}, #{projectDb}, #{projectTool}, #{projectFramework}, #{projectStartTerm}, #{projectEndTerm}, #{projectWorkDetail}, #{projectEtc}, NOW(), #{resumeId});
    </insert>

    <select id="selectResumeById" resultType="resumeVO">
        SELECT
            resume_id AS resumeId,
            title,
            created_user AS createdUser,
            created_time AS createdTime,
            updated_time AS updatedTime,
            name,
            birth,
            gender,
            military,
            role,
            marriage,
            landline_number AS landlineNumber,
            phone_number AS phoneNumber,
            email,
            address
        FROM resume
        WHERE resume_id = #{resumeId}
        ORDER BY created_time DESC
    </select>
    
    <select id="selectEducationById" resultType="resumeEducationVO">
        SELECT
            id AS resumeEducationId,
            school_name AS schoolName,
            school_status AS schoolStatus,
            school_date AS schoolDate
        FROM resume_education
        WHERE resume_id = #{resumeId}
        ORDER BY school_date DESC
    </select>
    
    <select id="selectCareerById" resultType="resumeCareerVO">
        SELECT
            id AS resumeCareerId,
            company_name AS companyName,
            company_role AS companyRole,
            company_work AS companyWork,
            company_start_term AS companyStartTerm,
            company_end_term AS companyEndTerm
        FROM resume_career
        WHERE resume_id = #{resumeId}
        ORDER BY company_start_term DESC
    </select>

    <select id="selectLicenseById" resultType="resumeLicenseVO">
        SELECT
            id AS resumeLicenseId,
            license_name AS licenseName,
            license_issuer AS licenseIssuer,
            license_date AS licenseDate
        FROM resume_license
        WHERE resume_id = #{resumeId}
        ORDER BY license_date DESC
    </select>

    <select id="selectSkillById" resultType="resumeSkillVO">
        SELECT
            id AS resumeSkillId,
            project_name AS projectName,
            project_customer AS projectCustomer,
            project_company AS projectCompany,
            project_work AS projectWork,
            project_language AS projectLanguage,
            project_db AS projectDb,
            project_tool AS projectTool,
            project_framework AS projectFramework,
            project_start_term AS projectStartTerm,
            project_end_term AS projectEndTerm,
            project_work_detail AS projectWorkDetail,
            project_etc AS projectEtc
        FROM resume_skill
        WHERE resume_id = #{resumeId}
        ORDER BY project_start_term DESC
    </select>

    <update id="updateResume" parameterType="resumeVO">
        UPDATE resume
        SET title = #{title},
            created_user = #{createdUser},
            updated_time = NOW(),
            name = #{name},
            birth = #{birth},
            gender = #{gender},
            military = #{military},
            role = #{role},
            marriage = #{marriage},
            landline_number = #{landlineNumber},
            phone_number = #{phoneNumber},
            email = #{email},
            address = #{address}
        WHERE resume_id = #{resumeId}
    </update>

    <delete id="deleteResume" parameterType="string">
        DELETE FROM resume WHERE resume_id = #{resumeId}
    </delete>

    <delete id="deleteEducation" parameterType="string">
        DELETE FROM resume_education WHERE resume_id = #{resumeId}
    </delete>

    <delete id="deleteCareer" parameterType="string">
        DELETE FROM resume_career WHERE resume_id = #{resumeId}
    </delete>

    <delete id="deleteLicense" parameterType="string">
        DELETE FROM resume_license WHERE resume_id = #{resumeId}
    </delete>

    <delete id="deleteSkill" parameterType="string">
        DELETE FROM resume_skill WHERE resume_id = #{resumeId}
    </delete>

</mapper>